~*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg{
    display: block;
    max-width: 100%;
}

button{
    padding: 0;
    border: none;
    color: inherit;
    cursor: pointer;
    background: none;
    display: inline-block;
}


body{
    color: $text-brown;
    font-family: sans-serif;
}